<div class="row">

	<div class="col-md-3">
		<label for="termino">Buscador de artistas</label>
		<!-- si ponemos
		(keyup) = "buscarArtista()"
		ejecuta la función a cada pulsación de tecla -->
		<input [(ngModel)]="termino"
		(keyup) = "buscarArtista()"
		type="text"
		name="termino"
		class="form-control"
		placeholder="Buscar por artista">
	</div>

	<div class="col-md-9">

		<div class="row">
			<div class="col-md-3 text-center puntero"
				*ngFor="let artista of _spotifyService.artistas"
				[routerLink]="['/artista', artista.id]">

				<img [src]="artista.images | sinfoto " alt="{{artista.name}}" class="img-fluid">

				<p>{{ artista.name }}</p>

			</div>

		</div>

	</div>
</div>
