<div class="container animated fadeIn fast" *ngIf="cantante && tracks">
	<div class="row">
		<div class="col-md-6 text-center puntero">
			<img  [src]="cantante.images | sinfoto" alt="" class="img-fluid">
		</div>
		<div class="col-md-6">
			<div class="vertical top-30">
				<h3>{{cantante.name}} <small>Popularidad: {{cantante.popularity}}</small></h3>
				<hr>
				<!-- <div class="row">
				<div class="col-md-6" text-center> -->
				<a [routerLink]="['/buscar']" class="btn btn-danger">Volver</a>
				<a [href]="cantante.external_urls?.spotify"  class="btn btn-success">Abrir en Spotify</a>
			</div>

			<!-- </div>
		</div> -->
	</div>
</div>

<div class="top-30">
	<h4>Top TRACKS</h4>

	<div class="row top-30" >
		<div class="col-md-12">

			<table class="table table-inverse table-hover table-responsive">
				<thead>
					<tr>
						<th>#</th>
						<th>Foto</th>
						<th>Canción</th>
						<th>Popularidad</th>
						<th>Preview</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let track of tracks; let i=index">
						<!-- <th scope="row">{{i + 1}}</th> -->
						<td>{{i+1}}
						</td>
						<td><img [src]="track.album?.images | sinfoto" alt="" class="track-img"></td>
						<td> {{ track.name }} </td>
						<td> {{ track.popularity }}% </td>
						<td>
							<!-- <audio [src]="track.preview_url" controls>Navegador muy antiguo</audio> -->
							<iframe [src]="track.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>

</div>
